.btn-logout {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: #2a5deb;
}

.content-logout {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-logout svg {
  width: 17px;
}

.content-logout svg path {
  fill: white;
}

.text-logout {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1em;
  font-weight: 600;
  transition-duration: 0.3s;
}

.btn-logout:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: 0.3s;
}

.btn-logout:hover .content-logout {
  width: 30%;
  transition-duration: 0.3s;
  padding-left: 20px;
}

.btn-logout:hover .text-logout {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-right: 10px;
}

.btn-logout:active {
  transform: translate(2px, 2px);
}
